{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div class="jumbotron bg-dark mb-0)">
<h4 class="text-white">Space Junk was created for the 2019 CS-GSO Hackathon at Iowa State University. It combines the efforts of three
    undergrads to create a website, do some math, and add sprinkle of statistics.</h4>

<h4 class="text-white">We obtain our data organically and ethically from <a href="https://www.space-track.org">space-track.org</a>. For more information on the calculations, visit your nearest Keplerian orbit.
    </h4>
</div>

<div class="mx-auto col-md-8 mb-6 mt-sm-n5">
<img src="{{ url_for('static', filename='kepler.png') }}" class="img-fluid" alt="Keplerian Orbit">
</div>

<div class="card bg-secondary my-3 mt-4 col-md-10 mx-auto">
    <div class="card-body">
        <h5 class="card-title">Andrew Chatman</h5>
        <h6 class="card-subtitle mb-2">Senior in Physics and Computer Science</h6>
        <p class="card-text">Likes long walks on the beach with his cat Percy.</p>
        <a href="mailto:achatman@iastate.edu" class="card-link">achatman</a>
    </div>
</div>

<div class="card bg-secondary my-3 col-md-10 mx-auto">
    <div class="card-body">
        <h5 class="card-title">Miles Lucas</h5>
        <h6 class="card-subtitle mb-2">Senior in Physics</h6>
        <p class="card-text">Once found a whale underground using pure python.</p>
        <a href="mailto:mdlucas@iastate.edu" class="card-link">mdlucas</a>
    </div>
</div>

<div class="card bg-secondary my-3 col-md-10 mx-auto">
    <div class="card-body">
        <h5 class="card-title">Mitch Kazin</h5>
        <h6 class="card-subtitle mb-2">Senior in Physics and Computer Science</h6>
        <p class="card-text">Can finish a whole NASCAR race without drinking water</p>
        <a href="mailto:mjkazin@iastate.edu" class="card-link">mjkazin</a>
    </div>
</div>

{% endblock %}