{% extends "base.html" %}
{% block title %}Space Junk{% endblock %}
{% block content %}



<div class="mt-10 col-10 offset-1">
    <p class="text-center text-light h3">
        There is junk everywhere around you. Don't see it? Look up... way up.
    </p>
</div>

<div class="mx-auto col-10" id="plot">
</div>

<div class="mt-14 mb-2 col-10 offset-1">
    <p class="text-center text-light h3">
        So much junk, in fact, that there is approximately <span id="prob">an incalculable</span> chance of you getting hit by space junk right now. <span id="comp"></span>
    </p>
</div>

<div class="row">
    <div class="mx-auto col-md-6" id="hist_lon"></div>
    <div class="mx-auto col-md-6" id="hist_lat"></div>
</div>

<div class=

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
<script src="{{ url_for('static', filename='js/probability.js') }}"></script>
{% endblock %}