@import url("https://fonts.googleapis.com/css?family=Archivo");

$body-bg: #201c1b;
$enable-rounded: false;
$theme-colors: (
  "primary": #fa625f,
  "secondary": #fbf579,
  "tertiary": #005995,
  "quarternary": #600473,
  "dark": #201c1b
);
$font-family-base: "Archivo";
body {
  padding-top: 7em;
  padding-bottom: 8em;
};

// Finally, import bootstrap
@import "../bootstrap/scss/bootstrap";
